---
layout: list
title: Most recent
icon: time
---

<div id="home">
    {% for post in site.posts %}
		<div class="well well-sm post">
		    <h4 class="post-heading">
				<code>{{ post.title }}</code><wbr/><code>{{post.arguments}}</code> by {{ post.author }}<span class="post-date label label-success">{{ post.date | date_to_string }}</span></h4>
				<div class="clearfix"></div>
				<div><a href="{{ post.url }}" class="btn btn-xs btn-default btn-block"><i class="icon-download-alt"> </i>Export GML (right-click, "Save target as...", <code>{{post.title}}.gml</code>)</a></div>
				<div class="clearfix"></div>
			    <div>{{ post.content }}</div>
				<div>tagged: 
					{% for tag in post.tags %}
					<span class="label label-primary">{{ tag }}</span>
					{% endfor %}
				</div>
		</div>
    {% endfor %}
</div>
