<div class="well well-sm">
	<a class="btn btn-block btn-warning" href="http://yoyogames.com/"><i class="icon-group"></i> GML devs</a>
	<a class="btn btn-block btn-danger"><i class="icon-edit"></i> Site maintainer</a>
	<a class="btn btn-block btn-info" href="http://github.com/D-side/GMLS"><i class="icon-code"></i> Site source</a>
	<a class="btn btn-block btn-success" href="http://validator.w3.org/check?uri=http%3A%2F%2Fgml.dside.ru%2F"><i class="icon-html5"></i> W3C valid</a>
	<a class="btn btn-block btn-primary" href="/contribute/"><i class="icon-plus-sign-alt"></i> Add your GML</a>

</div>
