<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

		<link href="/css/bootstrap-light.css" rel="stylesheet"
        type="text/css" id="stl" title="light" />
		<link href="/css/bootstrap-dark.css" rel="alternate stylesheet" 
        type="text/css" title="dark" disabled />
		<!-- Syntax CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
		<!-- Custom stuff -->
        <link rel="stylesheet" href="/css/blog.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">

		<script type="text/javascript" src="/js/switch-css.js"></script>
		<script type="text/javascript">set_style_from_cookie(); </script>

    </head>
    <body>

        <div class="container">
          <div class="col-md-9">
			<div class="row">
            <div class="navi btn-group btn-group-justified">
				<a class="btn btn-default" title="Home" href="/"><i class="icon-time"> </i></a>
				<a class="btn btn-default" title="Tag cloud" href="/tags/"><i class="icon-tags"> </i></a>
				<a class="btn btn-default" title="About this site" href="/about/"><i class="icon-question-sign"> </i></a>
	  			<a class="btn btn-default" onclick="switch_style_single();return false;"><i class="icon-adjust"> </i></a>
			</div>
			  			
            </div>
				<h1 class="title"><a href="/">{{ site.name }}</a></h1>
				<h1><i class="icon-{{ page.icon }}"></i> {{ page.title }}</h1>

                {{ content }}

          </div>
		  <div class="col-md-3">
			{% include sidebar.html %}
		  </div>
        </div> <!-- /container -->
		<script src="//code.jquery.com/jquery.js"></script>
    	<script src="/js/bootstrap.min.js"></script>
    </body>
</html>
