---
layout: default
---
	<p class="meta">{{ page.date | date_to_string }}</p>
	<h3><code>{{ page.title }}<wbr>{{ page.arguments }}</code></h3>
	<h4>by {{ page.author }}</h4>
	<div class="post well well-sm">
	{{ content }}
	</div>

{% if page.tags.size > 0 %}
	<div class="alert alert-info" style="padding: 10px;">
		<ul class="list-inline tag-list">
		<li class="primary-cat">
			<a class="btn btn-xs btn-info" href="/tags/">
				<i class="icon-tags pull-left"> </i> 
			</a>
		</li>
		{% for tag in page.tags %}
			<li><a class="btn btn-sm btn-info" href="/{{ tag }}/">{{ tag }}</a></li>
		{% endfor %}
		</ul>
	</div>	
{% endif %}
